*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Helvetica, arial, sans-serif;
    transition-duration: 1s;
}


/* neon style

.wrapper {
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000; 
}
.txt {
    color: #ffffff;
    background:#000000;
    font-size:200px;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
}
.txt::before {
    content: 'hey';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}
.neon-wrapper {
    display:inline-flex;
    filter: brightness(200%);
    overflow: hidden;
}
.gradient{
    background: linear-gradient(114.5793141156962deg, rgba(6, 227, 250,1) 4.927083333333334%,rgba(229, 151, 64,1) 97.84374999999999%);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    mix-blend-mode: multiply;
}
.dodge {
    background: radial-gradient(circle,white,black 35%) center / 25% 25%;
    position: absolute;
    top:-100%;
    left:-100%;
    right:0;
    bottom:0;    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
}
end of neon */




.home{
    height: 650px;
    background-image: url(images/img2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;

}

.nav{
    width: 100%;
    margin: 0 auto 0 auto;
    height: 80px;
    background-color: rgb(31, 46, 46) !important;
    position: fixed;
    z-index: 3;
    
}
.nav-item:hover{
    background-color: rgb(10, 15, 54);
    transition-duration: 1s;
}
.nav-item{
    font-weight: 600;
    font-size: 16px;
    padding: 0px 15px 0px 15px ;
    border: solid 0px none;
    border-radius:10px;

}

.nav .coder{
    margin-right: 20%;
    padding-left: 13px;
    color: #ffff;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
}
.navimg{
    padding-left: 60px;
    width: 200px;
    height: 80px;
    border-radius: 60px;
    
}
/*the dropdown button*/
.dropbtn {
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    border: 0px;
   
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(247, 249, 251, 0.6);
    border: solid 0px none;
    border-radius: 10%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  .show {
      display: block;
}
.arrow{
    width: 20px;
    height: 20px;
    background-color: rgb(31, 46, 46);
    border: solid 0px none;
    border-radius: 10px;
    margin-left: 5px;

}

/*end of dropdown button */

.overlay{
    width: 100%;
    background-color:rgb(0, 26, 51,0.7);
    position: absolute;
    top: 0;
    bottom: 0;
   
}
.middle{
    padding-top: 200px;
    
}
.middle h1{
    font-weight: bolder;
    font-size: 60px;
}
.middle h3{
    font-weight: 600;
    font-size: 22px
}
.button{
    background-color: rgba(196, 45, 50, 0.1);
    border-radius: 0px;
    border: 2px solid #fff;
    margin-top: 15px;
    margin-left: 0;
}
.button:hover{
    background-color: #fff;
}
.button p{
    padding: 0;
    margin: 0;
}
.button:hover p{
    color: rgb(0, 26, 51,0.7);
}
/*end of the first div*/

/*start of about part*/

.secondiv{
    margin-top: 40px;
    width: 100%;
    padding-bottom: 30px;
}
.secondiv img{
    width: 40%;
    float: left;
    margin-right: 30px;
}
.rightdiv h1{
    font-weight: bold;
    font-size: 30px;
    color: #444444;
}
.secondiv p,i{
    color: #777777;
}
.except{
    color: #444444 !important;
    font-weight: bold;
    font-size: 17px;
}
.ftitle{
    font-weight: bold;
    font-size: 34px;
    color: #444444;
}
.secondiv i{
    border: 1px solid #aaa;
    font-size: 20px;
    margin: 17px 5px 0px 5px;
}
.ok{
     padding: 10px;
}
.face{
    padding: 10px 15px 10px 15px;
}
.plus{
     padding: 10px 8px 10px 8px;
}
.secondiv i:hover{
    color: #fff;
    background-color: rgb(220, 40, 40);
    cursor: pointer;
}
/*end of about part*/

/*start of coaches part*/
.work2{
    background-image: url(images/tieshoes.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    height: 450px;
    align-items: center !important;
    padding: 50px 0px;
}
.twodivs{
    margin: auto;
}
.twodivs h1{
    width: 25%;
    margin: auto;
    text-align: center;
    color:rgb(226, 216, 216);
    margin-bottom: 40px;
    border: solid 5px rgb(204, 41, 46) ;
    border-radius: 40px;
    background-color:black;
    font-family: 'Poppins', Helvetica, arial, sans-serif;
}
.first{
    width: 50%;
    text-align: center;
    float: left;
}
.first img{
    width:30%;
    border: 4px solid rgb(236, 50, 55);
    border-radius: 50%;
}
.second{
    width: 50%;
    text-align: center;
    float: left;
}
.second img{
    width:30%;
    border: 4px solid rgb(236, 50, 55);
    border-radius: 50%;
}

/*end of coaches part*/
/*
.both{
    width: 100%;
    margin-top: 40px;
    padding-bottom: 40px;
}
.div1{
    float: left;
}
.div1 h1{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 15px;
}
.div1 p{
    color: #777777;
}


.myservices{
    border: 0px;
     transition-duration: 1s;

}
.myservices:hover{
    background-color: rgb(210, 60, 70);
}
*/
/*end of third part*/
.backg{
    background-color: rgb(245, 240, 239);
}
.totaldivs{
    width: 100%;
    margin-top: 30px;

}

.one{
    width: 32%;
    padding: 25px;
    float: left;
}
.zumba{
    background-image: url(images/zumbaclass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 230px;
}
.massagetherapy{
    background-image: url(images/massagetherapy2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 230px;
}
.one h4{
    font-size: 35px;
    color:rgb(117, 21, 21);
    margin-bottom: 20px;
    margin-top: 15px;
    transition-duration: 1s;
}
.one i{
    background-color: rgb(235, 235, 224);
    padding: 13px;
    font-size: 17px;
    transition-duration: 1s;
}
.one:hover{
    cursor: pointer;
}
.one:hover i{
    color: #fff;
    background-color: rgb(236, 50, 55);
}
.one:hover h4{
    color: rgb(236, 50, 55);
}
 

.two{
    width: 32%;
    padding: 25px;
    float: left;
    margin-left:2%;
}
.kickboxing{
    background-image: url(images/kickboxingclass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 230px;
}
.yoga{
    background-image: url(images/yogaclass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 230px;
}

.two h4{
    font-size: 35px;
    color:rgb(117, 21, 21);
    margin-bottom: 20px;
    margin-top: 15px;
    transition-duration: 1s;
}
.two i{
    background-color: rgb(235, 235, 224);
    padding: 13px;
    font-size: 17px;
    transition-duration: 1s;
}
.two:hover{
    cursor: pointer;
}
.two:hover i{
    color: #fff;
    background-color: rgb(236, 50, 55);
}
.two:hover h4{
    color: rgb(236, 50, 55);
}

.three{
    width: 32%;
    background-color: #fff;
    padding: 25px;
    float: left;
    margin-left:2%;
}
.cardio{
    background-image: url(images/cardio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 230px;
}
.jacuzzi{
    background-image: url(images/jacuzzi.jpg);
    background-position: center center;
    height: 230px;
}

.three h4{
    font-size: 35px;
    color:rgb(117, 21, 21);
    margin-bottom: 20px;
    margin-top: 15px;
    transition-duration: 1s;
}
.three i{
    background-color: rgb(235, 235, 224);
    padding: 13px;
    font-size: 17px;
    transition-duration: 1s;
}
.three:hover{
    cursor: pointer;
}
.three:hover i{
    color: #fff;
    background-color: rgb(236, 50, 55);
}
.three:hover h4{
    color: rgb(236, 50, 55);
}
 
.check{
    text-align: center;
}
.check2{
    margin-top: 50px;
    margin-bottom: 50px;
    border:0px;
    padding: 10px 20px;
    transition-duration: 1s;
}
/*popup modal*/
.modal{
    border: solid 3px black;
    border-radius:10px;

}
.modal_one , .modal_two , .modal_three ,.modal_four,.modal_five,.modal_six{
    border: solid 2px rgb(165, 20, 20);
    border-radius:15%;
}
.modal_one{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 600px;
    background-color: rgb(216, 235, 213,0.7);
 
}
.datesdiv{
    float: left;
    margin-right: 20px;
}
.trainersbuttondiv .btn{
    padding: 10px 5px 10px 5px;
    border:solid 3px  rgb(184, 29, 34) ;
    border-radius: 30px;
    background-color: rgb(20, 41, 73);
    color: antiquewhite;
    margin-bottom: 15px;

}
.trainersbuttondiv .btn:hover{
    background-color: whitesmoke;
    color: black;
}
.selectbtn{
    padding: 15px 10px 15px 10px;
    border:solid 2px  rgb(45, 46, 45) ;
    border-radius: 30px;
    background-color: rgb(30, 172, 65);
    color: antiquewhite;
    width: 40%;
    margin-top: 50px;
    font-size: 20px;

}
.modal_two{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 600px;
    background-color: rgb(216, 235, 213,0.7);
}
.modal_three{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 600px;
    background-color: rgb(216, 235, 213,0.7);
}
.modal_four{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 600px;
    background-color: rgb(216, 235, 213,0.7);
}
.modal_five{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 600px;
    background-color: rgb(216, 235, 213,0.7);
}
.modal_six{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 600px;
    background-color: rgb(216, 235, 213,0.7);
}
/*end of popup modal*/

 /*the end of the fourth part*/
.six{
    padding-bottom: 40px;
    background-image: url(images/pulling.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.total .insideText{
color: rgba(0, 0, 0, 0.815);
margin-left: 10px;
font-style: italic;
font-weight: bold;
font-size: 17px;

}
.priceText{
    color: white;
    font-style: italic;
    font-size: 20px;
}

.total{
    width: 100%;
    padding-top: 10px;
    margin: auto;
}
.total h1{
    color: rgb(65, 218, 65);
}
.total .titleBackground {
    background-color: rgb(68, 207, 61);
    margin-bottom: 30px;
    border: solid 0px none;
    border-top-right-radius:9px;
    border-top-left-radius:9px;
}
.package1,.package2{
    margin-left: 50px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.7);
    height: 400px;
    border: solid 0px none;
    border-radius:15%;
}
.package1,.package2{
    float:left;
}

.white{
    width: 100%;
}
.white h4{
    margin-top: 20px;
    font-size: 30px;
    color: white;
    font-style: italic;
}
.total .choosebtn{
    padding: 15px 10px 15px 10px;
    border:solid 2px  rgb(45, 46, 45) ;
    border-radius: 30px;
    background-color: rgb(204, 83, 83);
    color: antiquewhite;
    width: 35%;
    margin-top: 40px;
    font-size: 20px;
   margin-left: 20px;
}
.total .choosebtn:hover{
    background-color: #26b422;
}

/*end of packages part*/

.clear{
    clear: both;
}
.getin{
    margin: 50px auto 0px auto;
    padding: 10px 20px;
}
.row a{
    text-decoration-line:none;
    transition-duration: 1s;
}

.last{
    background-color: rgb(245, 240, 239);
}
.lastall{
    width: 100%;
    padding-bottom: 30px;
}

.lastleft{
    width: 40%;
    float: left;
    margin-right: 30px;
}
.lastleft p{
    margin-left: 10px;
}
.vl {
    float: left;
    border-left: 4px solid rgba(77, 70, 70, 0.424);
    height: 290px;
    margin-top: 20px;
  }
.lastright{
    width: 50%;
    float: right;
} 
.lastright i:hover{
    background-color: rgb(211, 53, 53);
    color: white;
    cursor: pointer;
}
.ok2{
     padding: 10px;
    border:1px solid #44444444;
}
.face2{
    padding: 10px 15px 10px 15px;
    border:1px solid #44444444;
}
.plus2{
     padding: 10px 8px 10px 8px;
    border:1px solid #44444444;
}
.splitter{
    height: 35px;
    background-color: #444444;

}
.splitter p{
    margin: 0px;
    padding:0px;
}

/* THE END of main paage   */

/*the start of Admin profile*/

.choose {
    margin: auto;
    text-align: center;
    width: 50%;
}
.pick_btn .button{
    background-color: rgba(196, 45, 50, 0.1);
    border-radius: 0px;
    border: 2px solid #fff;
    margin-top: 15px;
  
}
.pick_btn .button:hover{
    background-color: #fff;
}

.pick_btn h1{
    padding: 0;
    margin: 0;
}
 .pick_btn .button:hover h1{
    color: rgb(0, 26, 51,0.7);
}
#review{
    background-image: url(images/freespace1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.reviewtext{
    height: 500px;
    background-color: rgba(105, 19, 19, 0.8);
    padding: 50px;
    text-align: center;
}
.reviewtext p{
    color: white;
}
.reviewsize{
    width: 50%;
    padding-left: 40px;
}
.dropbtn2 {
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    
  }
  
.dropdown2 {
    position: relative;
    display: inline-block;
    border: 0px;
   
  }
  
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: rgba(247, 249, 251, 0.6);
    border: solid 0px none;
    border-radius: 10%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.show2 {
      display: block;
}

/*the end of member main page */
/*the start of member modification page*/


.chooseMemberModification .button{
    background-color: rgba(196, 45, 50, 0.1);
    border-radius: 0px;
    border: 2px solid #fff;
    margin-top: 15px;
  
}
.chooseMemberModification .button{
    background-color: rgba(196, 45, 50, 0.1);
    border-radius: 5px;
    border: 2px solid #fff;
    margin-top: 15px;
  
}
.chooseMemberModification .button:hover{
    background-color: #fff;
}

.chooseMemberModification h3{
    padding: 0;
    margin: 0;
}
 .chooseMemberModification .button:hover h3{
    color: rgb(0, 26, 51,0.7);
}
/*end of member modification page*/
/*start of view form*/
.viewform{
    width: 28%;
}
.addform{
    width: 37%;
    margin-left: 30%;
    margin-top: 8%;
    background-color: rgba(63, 112, 77, 0.9);
    padding: 1% 5% 2% 5%;
    border: solid 0px none;
    border-radius:10px;
}
/* end of view form*/





















